/* Container */
.sidebar {
  background: #012a5b;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.sidebar .logo {
  width: 3rem;
  min-width: 3rem;
}

.sidebar .btn-close {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}

.sidebar .btn-close .close-icon {
  color: #fff;
  font-size: 24px;
}

/* Links & buttons */
.nav-link,
.group-btn {
  color: #ced4da;
  border-radius: .5rem;
  text-align: left;
  background: transparent;
}
.nav-link:hover,
.group-btn:hover {
  background: #63707e;
  color: #fff;
}

.nav-link.active {
  background: #495057;
  color: #fff;
}

/* Submenu items */
.submenu .sub-link {
  color: #adb5bd;
  border-radius: .375rem;
  text-decoration: none;
}
.submenu .sub-link:hover,
.submenu .sub-link.active {
  background: #343a40;
  color: #fff;
}

/* Mini (collapsed) mode: icon-only */
.sidebar.mini {
  width: 5rem;

  .label, .chevron, .submenu { display: none !important; }
  .nav-link, .group-btn { justify-content: center; }
  .icon { margin-right: 0 !important; }
}
